<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>
    
        <form action="">
    
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
    
            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="subject">
            </div>
    
            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
    
            <input type="submit" value="send message" class="btn">
    
        </form>
    
    </section>
</body>
</html>